/* body
{
margin:0px; auto;
padding:0px;
font-family:helvetica;
}
#wrapper
{
  width:995px;
  padding:0px;
  margin:0px auto;
  font-family:helvetica;
  text-align:center;
}
h1
{
  text-align:center;
  font-size:35px;
  color:#2E2E2E;
  padding:10px;
}
h1 p
{
	font-size:20px;
	margin:0px;
	color:#585858;
}
td
{
	width:50px;
	text-align:center;
}
input[type="button"]
{
	margin-top:5px;
}
.save
{
	display:none;
} */

body > table{
  width: 80%;
}

table{
  border-collapse: collapse;
}
table.list{
  width:100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
  background-color: #dddddd;
}

input[type=text], input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit]{
  width: 30%;
  background-color: #ddd;
  color: #000;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form div.form-action-buttons{
  text-align: right;
}

a{
  cursor: pointer;
  text-decoration: underline;
  color: #0000ee;
  margin-right: 4px;
}

label.validation-error{
  color:   red;
  margin-left: 5px;
}

.hide{
  display:none;
}